.Button {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  outline: none;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #3a5265 !important;
}

.Button:active {
  background-color: #3a5265 !important;
  border: none;
}

.Button:focus {
  background-color: #3a5265;
}

.Wide {
  padding: 5px 50px;
  width: 100%;
}

.Submit {
  background-color: #3a5265;
  color: #eff3ef;
  letter-spacing: 1px;
}

.Submit:hover {
  background-color: #e66e6c;
  border-color: transparent;
  cursor: pointer;
  opacity: 0.7;
}

.Follow {
  background-color: #30C598;
  color: #2F2306;
  border: transparent;
}

.Follow:hover {
  color: #2F2306;
  background-color: #eff3ef;
  border: 1px solid #30C598;
  font-size: 1rem;
  transition: all ease-in-out 0.3s;
}

.Unfollow {
  color: #2F2306;
  background-color: #eff3ef;
  border: 1px solid #30C598;
  cursor: pointer;
}

.Unfollow:hover {
  font-size: 1rem;
  color: #2F2306;
  background-color: #30C598;  
  border: 1px solid #2F2306;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}