.Content {
    background-color: #f6f3f3;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dadadf;
}

.Link {
    text-transform: capitalize;     
}

.Link:hover {
    color: #3a5265;
    font-weight: bolder;     
    font-size: 17px; 
    transition: all ease-in-out 0.3s;
}