.NavBar {
    background-color: #e66e6c;    
}

.Brand {  
    color: #323e48; 
    font-size: 110%; 
    margin-left: 0.5rem;       
}

.Brand:hover {
    color: #eff3ef;  
    transition: color ease-in-out 0.3s;
    cursor: pointer;
}

.NavLink {
    padding: 5px;
  }
  
.Active i {
    color: #eff3ef;
}