.NavBar {
    background-color: #e66e6c;
    color: #2F2306;
}

.Brand {
    color: #2F2306;
    font-size: 110%;
    padding: 10px;    
}

.Brand:hover {
    color: #eff3ef;
    transition: color ease-in-out 0.3s;
    cursor: pointer;
}

i {
    padding: 5px;
}

.Active i {
    color: #eff3ef;
}