.Recipe {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 5px;
  margin-bottom: 16px;
  text-align: center;
}

.Recipe figure,
h5 {
  margin: 0 0;
}

.RecipeImage {
  width: 80%;
}

.Owner:hover {
  color: #e66e6c;
  font-weight: bold;
}

.CardText {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CardIcons {
  display: flex;
  flex-direction: row; 
  justify-content: center;
}

.Heart {
  color: #e66e6c;
}

.Heart:hover {
  color: #3a5265;
}

.HeartOutline:hover {
  color: #e66e6c;
}

.Bookmark {
  color: #329e7f;  
}

.Bookmark:hover {
  color: #3a5265;
}

.BookmarkOutline:hover {
  color:  #329e7f;
}

.Subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3a5265;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3a5265;
}

