.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 3px;
  color: #3a5265;
  text-align: center;
  padding: 10px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #3a5265;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #e66e6c;
}

.Link:hover {
  color: #3a5265;
}

.Link span:hover {
  font-weight: bold;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  width: 50%;
  margin-top: 55px;
}

.SignUpCol {
  width: 50%;
  margin-top: 55px;
}

@media only screen and (max-width: 480px) {
  .SignInCol {
    width: 100%;
    margin-top: 0px;
  }

  .SignUpCol {
    width: 100%;
    margin-top: 0px;
  }
}

