.App {
    font-family: 'Montserrat', sans-serif;    
    background-color: #ebedec;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

a:hover i {
    color: #eff3ef;
    transition: color ease-in-out 0.3s;
}

i {
    color: #323e48;
    transition: color ease-in-out 0.3s;
    font-size: 1.5rem;
} 

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #eff3ef;
}
